.blurry {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: absolute;
  z-index: -10;
  overflow: hidden;
  filter: blur(75px);
  top: 0;

  @media screen and (max-width: 450px) {
    display: none;
  }

  &.bottom {
    top: auto;
    bottom: 100px;
  }

  & div {
    position: relative;
    width: 70%;
    max-width: 1000px;
    height: 100%;
    background-color: var(--accent);
    clip-path: polygon(
      74.1% 44.1%,
      100% 61.6%,
      97.5% 26.9%,
      85.5% 0.1%,
      80.7% 2%,
      72.5% 32.5%,
      60.2% 62.4%,
      52.4% 68.1%,
      47.5% 58.3%,
      45.2% 34.5%,
      27.5% 76.7%,
      0.1% 64.9%,
      17.9% 100%,
      27.6% 76.8%,
      76.1% 97.7%,
      74.1% 44.1%
    );
    left: -40rem;
    top: -20rem;
    transform: rotate(30deg);
    opacity: 0.3;

    &.bottom {
      clip-path: polygon(
        74.1% 44.1%,
        100% 61.6%,
        97.5% 26.9%,
        85.5% 0.1%,
        80.7% 2%,
        72.5% 32.5%,
        60.2% 62.4%,
        52.4% 68.1%,
        47.5% 58.3%,
        45.2% 34.5%,
        27.5% 76.7%,
        0.1% 64.9%,
        17.9% 100%,
        27.6% 76.8%,
        76.1% 97.7%,
        74.1% 44.1%
      );
      left: auto;
      top: auto;
      right: -50rem;
      bottom: -15rem;
      transform: rotate(21deg);
      opacity: 0.4;
    }
  }
}
