.burguer-button {
  position: relative;
  flex-direction: column;
  gap: 7px;
  display: none;
  z-index: 100;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  & div {
    width: 3rem;
    height: 0.2rem;
    opacity: 1;
    background-color: var(--text-color, #ffffff);
    transition: all 0.3s ease;
  }

  &.active {
    & div {
      background: var(--white) !important;
    }

    & div:first-of-type {
      transform: rotate(-45deg) translate(-8px, 6px);
    }

    & div:nth-of-type(2) {
      opacity: 0;
    }

    & div:last-of-type {
      transform: rotate(45deg) translate(-7px, -5px);
    }
  }
}
