.about {
  margin: 0;
  padding: 10rem 0 5rem 0;
  background: var(--white);
  color: var(--text-contrast);

  @media screen and (max-width: 450px) {
    padding: 5rem 0;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 5rem;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.content {
  width: 100%;
  min-width: 40rem;
  max-width: 70rem;

  @media screen and (max-width: 768px) {
    min-width: unset;
  }

  & article:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  & p {
    font-size: var(--paragraph-responsive);
    margin-top: 2rem;
    font-weight: 400;
  }
}