.blog {
  margin: 0;
  padding: 5rem 0;
  background: var(--white);
  color: var(--text-contrast);
}

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    color: var(--text-h-contrast);
  }

  & p {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    font-size: var(--paragraph-responsive);
    
    @media screen and (max-width: 450px) {
      text-align: left;
    }
  }
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 3rem;
  padding: 1.2rem 0;

  
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}