.horizontal-card {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 16px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 56px;
  }
}

.image-container {
  display: flex;
  height: 150px;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;

  @media screen and (max-width: 992px) {
    max-width: unset;
  }

  @media screen and (max-width: 320px) {
    min-width: unset;
  }

  & a, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;

  @media screen and (max-width: 992px) {
    min-width: unset;
  }

  & h3 {
    color: var(--slate-800, #1E293B);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  & p {
    color: var(--slate-600, #475569);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}