.image-tiles {
  display: flex;
  gap: 3rem;
}

.column {
  width: 17.6rem;

  &:first-child {
    padding-top: 32rem;
  }

  &:nth-child(2) {
    padding-top: 14rem;
  }
}

.image-wrapper {
  width: 100%;
  height: 26.6rem;
  overflow: hidden;

  &:last-child {
    margin-top: 3rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
    aspect-ratio: 2/3;
  }
}