.metadata-label {
  display: flex;
  align-items: center;
  gap: 4px;

  & span {
    color: var(--slate-500, #64748B);
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    padding-top: 3px;
  }
}