.contact {
  margin: 0;
  padding: 10rem 0 5rem 0;
  background-color: var(--white);
  color: var(--text-contrast);
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 450px) {
    padding: 5rem 0;
  }
}

.flex-wrapper {
  display: flex;
}

.left {
  width: calc(50% - 3rem);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.right {
  position: absolute;
  left: 50%;
  height: 100%;

  @media screen and (max-width: 768px) {
    display: none;
  }

  & div {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header {
  max-width: 600px;
  margin: auto;
  text-align: center;

  & > p {
    margin-top: 2rem;
    font-size: var(--paragraph-responsive);
    text-wrap: balance;

    @media screen and (max-width: 450px) {
      text-align: left;
      text-wrap: wrap;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 600px;
  margin: 6rem auto 0;
}