.recent-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  scroll-snap-align: start;

  @media screen and (max-width: 768px) {
    flex: 0 0 85%;
    max-width: 40rem;
  }
  
  & h3 {
    color: var(--slate-800, #1E293B);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: color 0.1s linear;

    &:hover {
      color: var(--custom-dark-color);
    }
  }

  & p {
    padding-top: 1.6rem;
    color: var(--slate-600, #475569);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.image-container {
  height: 150px;
  align-self: stretch;

  & a, & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.metadata {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 12px;
}

.tags {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}