.embla {
  --text-high-contrast-rgb-value: 49, 49, 49;
  margin: auto;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__controls {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin: 1.8rem 0;

  @media screen and (max-width: 1200px) {
    justify-content: space-between;
    max-width: 25rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  @media screen and (max-width: 450px) {
    max-width: 100%;
  }
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  display: flex;
  width: 41px;
  height: 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--slate-800, #1E293B);
  background: var(--slate-800, #1E293B);
  
  @media screen and (max-width: 1200px) {
    width: 33px;
    height: 30px;

    & svg {
      width: 17px;
      height: 17px;
    }
  }

  &.left {
    position: absolute;
    left: 5%;
    top: 215px;

    @media screen and (max-width: 1440px) {
      left: 10px;
    }

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &.right {
    position: absolute;
    right: 5%;
    top: 215px;

    @media screen and (max-width: 1440px) {
      right: 10px;
    }

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.embla__button--small {
  display: none;
  
  @media screen and (max-width: 1200px) {
    display: flex;
  }
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6rem;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  background-color: var(--slate-300, #CBD5E1);;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  background-color: var(--slate-800, #1E293B);
}
