.slide {
  height: max-content;
  max-width: 132rem;
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 2.4rem;
  margin: 0 2.4rem;
  user-select: none;
  transition: opacity 0.2s ease;

  @media screen and (max-width: 992px) {
    margin: 0;
  }

  &.out-of-view {
    opacity: 0.2;
    
    & .slide-image-wrapper {
      pointer-events: none;
    }
  
    & .content {
      max-height: var(--content-height);
      opacity: 0;
      pointer-events: none;
    }
  }
}


.slide-image-wrapper {
  grid-column: 1 / span 12;
}

.slide-image {
  width: 100%;
  display: block;
  aspect-ratio: 1320 / 512;
  object-fit: cover;
}

.content {
  grid-column: 1 / span 8;
  gap: 1.6rem;
  padding-left: 0.6rem;
  max-height: var(--content-height);
  transition: max-height 0.3s ease;

  @media screen and (max-width: 992px) {
    grid-column: 1 / span 10;
    padding: 0 1.6rem;
  }

  @media screen and (max-width: 450px) {
    grid-column: 1 / span 12;
  }

   & p {
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    color: var(--slate-600);
    padding-top: 1.6rem;
    margin-bottom: 1.2rem;
    line-height: 1.4;
   }
}

.metadata {
  display: flex;
  gap: 1.2rem;
  padding-top: 1.6rem;
  margin-bottom: 1.2rem;
}

.title h1 {
  font-family: var(--font-nunito);
  color: var(--slate-800);
  font-size: clamp(2.4rem, 5vw, 4.8rem);
  font-weight: 600;
  line-height: 116.667%;
  transition: color 0.2s ease;

  & strong {
    font-family: var(--font-nunito);
    background-image: linear-gradient(var(--custom-article-dark-color), var(--custom-article-dark-color));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background 0.4s ease, color 0.4s ease;
    color: var(--custom-article-bg-color);
    padding: 0 0.8rem;
    margin-left: -0.8rem;
  }

  &:hover strong {
    background-size: 0 100%;
    color: var(--custom-article-dark-color);
  }

  &:hover {
    color: var(--custom-article-dark-color);
  }
}

.tags {
  display: flex;
  gap: 1.2rem
}