.input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;

  &.column {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & label {
    color: var(--text-contrast);
    font-weight: 500;
  }

  & input[type='text'],
  & input[type='password'],
  & input[type='email'],
  & input[type='number'],
  & textArea {
    width: 100%;
    border: none;
    resize: none;
    padding: 1rem 1rem 0.6rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--text-contrast-transparent);
    color: var(--text-contrast);
    background-color: inherit;
    font-size: var(--paragraph-responsive);

    &.error {
      outline: 1px solid var(--error);

      &:focus {
        outline: 2px solid var(--error);
      }
    }

    &:focus {
      outline: 2px solid var(--secondary);
    }

    &::placeholder {
      color: var(--text-contrast-transparent);
    }
  }

  & textArea {
    height: 15rem;
  }

  & button {
    font-weight: 500;
    flex: 1 1 auto;
    background-color: var(--primary);
    color: var(--text);
    padding: 1.5rem 1rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.075s;

    &:hover,
    &:focus {
      background-color: var(--secondary);
    }

    &:disabled {
      background-color: #a3a3a3;
      cursor: not-allowed;
    }
  }

  & span {
    white-space: nowrap;
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    position: absolute;
    right: 0;
    bottom: -2.6rem;
    color: var(--error);

    &.left {
      right: auto;
      left: 0;
    }
  }
}

.checkbox-group {
  flex-direction: row !important;
  align-items: flex-start;

  & label {
    font-weight: 400;
  }

  & a {
    color: var(--accent);
  }

  & input[type='checkbox'] {
    margin-top: 0.2rem;
  }
}