.recommended-articles {
  position: relative;
  background-color: transparent;
  width: 100%;
  background-color: var(--white);
}

.backdrop {
  width: 100%;
  height: 27rem;
  background-color: var(--custom-article-bg-color);
  position: absolute;
  z-index: 1;
}

.container {
  margin-top: 6.8rem;
  position: relative;
  z-index: 2;
}

.subtitle {
  display: flex;
  gap: 1.1rem;
  align-items: flex-end;

  & h2 {
    font-family: var(--font-nunito);
    font-size: clamp(2.4rem, 5vw, 2.8rem);
    text-align: left;
    color: var(--text-h-contrast);
  }

  & svg {
    transform: translateY(1rem);

    @media screen and (max-width: 450px) {
      transform: translateY(1.3rem);
    }
  }
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 3rem;
  padding: 1.2rem 0;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}