.tag {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 4px;
  border: 1px solid var(--slate-300, #CBD5E1);
  background: var(--white, #FFF);

  & span {
    color: var(--slate-700, #334155);
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 6px;
  }
}