.code * {
  font-family: monospace;
}

.text {
  color: var(--text-h-contrast);
  line-height: 1.5;

  @media screen and (max-width: 450px) {
    line-height: 1.3;
  }
}

h1.text {
  display: none;
}

h2.text {
  font-size: clamp(2.4rem, 5vw, 2.8rem);
  font-weight: 600;
  margin: 5rem 0 2rem 0;
}

h3.text {
  font-size: clamp(2rem, 4vw, 2.2rem);
  font-weight: 600;
  margin: 3.5rem 0 2rem 0;
}

h4.text {
  font-size: clamp(1.8rem, 4vw, 2rem);
  font-weight: 600;
  margin: 5rem 0 2rem 0;
}

h5.text {
  font-size: clamp(1.8rem, 4vw, 2rem);
  font-weight: 600;
  margin: 5rem 0 2rem 0;
}

h6.text {
  font-size: clamp(1.8rem, 4vw, 2rem);
  font-weight: 600;
  margin: 5rem 0 2rem 0;
}

p.text {
  color: var(--slate-700);
  font-size: clamp(1.6rem, 2.5vw, 1.7rem);
  font-weight: 400;
  margin-bottom: 2rem;
}

.image {
  margin: 3rem 0 4rem 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.anchor {
  color: rgb(27, 106, 255);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list {
  margin: 2rem 0;
  list-style: square;
  padding-left: 2rem;

  & li {
    font-size: clamp(1.6rem, 2.5vw, 1.7rem);
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.hr {
  margin: 5rem 0;
}