.services {
  margin: 0;
  padding: 10rem 0;
  background: var(--white);
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-contrast);
  text-align: center;

  & h2 {
    font-weight: 600;
    color: var(--text-h-contrast);
  }

  & p {
    width: 100%;
    max-width: 800px;
    font-weight: 400;
    margin-top: 1.5rem;
    font-size: var(--paragraph-responsive);

    @media screen and (max-width: 450px) {
      text-align: left;
    }
  }
}

.grid {
  margin-top: 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 36rem));
  place-content: center;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(12, 1fr);

    & > div:nth-child(-n + 3) {
      grid-column: span 4;
    }

    & > div:nth-child(n + 4) {
      grid-column: span 6;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));

    & > div:nth-child(-n + 3) {
      grid-column: unset;
    }

    & > div:nth-child(n + 4) {
      grid-column: unset;
    }
  }

}