.services {
  margin: 0;
  padding: 10rem 0 5rem 0;
  background: var(--white);
  position: relative;
  z-index: 1;

  @media screen and (max-width: 450px) {
    padding: 5rem 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  color: var(--text-contrast);
  text-align: center;

  & p {
    width: 100%;
    max-width: 800px;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--paragraph-responsive);
    text-wrap: balance;

    @media screen and (max-width: 450px) {
      text-align: left;
      text-wrap: wrap;
    }
  }
}

.grid {
  margin-top: 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 36rem));
  place-content: center;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(12, 1fr);

    & > article:nth-child(-n + 3) {
      grid-column: span 4;
    }
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

    & > article:nth-child(-n + 3) {
      grid-column: unset;
    }
  }

}