.newsletter {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 2.4rem 0rem;
  column-gap: 3.2rem;
  row-gap: 1.6rem;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.caption {
  grid-column: 1 / span 8;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: 768px) {
    grid-column: 1;
  }

  & h2 {
    color: var(--slate-800, #1E293B);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }
  
  & p {
    color: var(--slate-600, #475569);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.form {
  grid-column: 9 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 510px;
  gap: 12px;
  align-self: stretch;

  @media screen and (max-width: 768px) {
    grid-column: 1;
  }
}

.input-button {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;

  & input {
    display: flex;
    padding: 10px 14px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 6px;
    border: 1px solid var(--slate-300, #CBD5E1);
    background: var(--white, #FFF);
    color: var(--slate-800, #1E293B);
    font-size: 16px;

    &::placeholder {
      color: var(--slate-500, #64748B);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  & button {
    display: flex;
    height: 47px;
    max-width: 150px;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 6px;
    background: var(--slate-400, #94A3B8);
    white-space: nowrap;

    & span {
      color: var(--white, #FFF);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
    }
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;

  & input[type="checkbox"] {
    outline: none;
    border: none;
    appearance: none;
    min-width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 0.5px solid var(--slate-300, #CBD5E1);
    background: var(--white, #FFF);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    position: relative;

    &:checked {
      background: var(--slate-400, #94A3B8);
    }

    &::after {
      content: "";
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' color='%23FFF'%3E%3Cpath stroke='currentcolor' stroke-width='1.5' d='M4 8.8 6.4 12 12 4' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: 50% 50%;
      position: absolute;
      display: block;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 2px;
      z-index: 100;
    }
  }

  & label {
    color: var(--slate-600, #475569);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}