.title {
  line-height: 1.2;
  font-weight: 600;
  color: var(--text-h-contrast);
  text-wrap: balance;
}

.title.small {
  font-size: clamp(1.8rem, 4.5vw, 2.4rem);
}

.title.medium {
  font-size: clamp(2.2rem, 4.5vw, 2.8rem);
}

.title.large {
  font-size: clamp(2.4rem, 4.5vw, 3.2rem);
}

.title.xlarge {
  font-size: clamp(2.8rem, 4.5vw, 3.6rem);
}

.title.left {
  text-align: left;
}

.title.center {
  text-align: center;
}

.title.right {
  text-align: right;
}

.title.normal {
  text-align: center;

  @media screen and (max-width: 450px) {
    text-align: left;
  }
}