.article {
  background-color: var(--white);
  color: var(--slate-700);
  width: 100%;
  padding: 2.4rem;

  @media screen and (max-width: 450px) {
    padding: 1.6rem;
  }
}

.content {
  padding: 5.6rem 4.8rem;
  max-width: 102.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10rem;
  background-color: var(--white);
  
  @media screen and (max-width: 450px) {
    padding: 5.6rem 1.2rem;
  }
}